
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- title -->
    <title>Main</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img src="../asset/logo/logo.png" alt="kross">
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="portfolio.html">PORTFOLIO</a></li>
                     <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main">
        <article class="article">
            <section class="first">
                <p>Hi! I’m <br>
                    Christoher <br>
                    UX designer</p>

                <img class="leaf-cyan-2" src="../asset/image/leaf-cyan-2.png" alt="leaf-cyan-2.png">
                <img class="leaf-cyan" src="../asset/image/leaf-cyan.png" alt="leaf-cyan.png">
                <img class="leaf-orange" src="../asset/image/leaf-orange.png" alt="leaf-orange.png">
                <img class="leaf-pink-round" src="../asset/image/leaf-pink-round.png" alt="leaf-pink-round.png">
                <img class="leaf-yellow" src="../asset/image/leaf-yellow.png" alt="leaf-yellow.png">

                
                <div class="social-medias">
                    <ul>
                        <li>
                        <a href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-basketball"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    </ul>
                     </div>

            </section>

            <section class="second">
                <div class="aboutme"> 
                <h1>Who Am I?</h1>
                <p> <span style="padding-left:30px;">Lorem</span>  ipsum dolor sit amet, consectetur adipisicing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            
                <p> <span style="padding-left:30px">Duis</span>    aute irure dolor in reprehenderit in voluptate velit
                     esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                     cupidatat non proident.</p> 
                   
                <p> <span style="padding-left:30px">Deserunt </span>   mollit anim id est laborum. Sed ut perspiciatis unde omnis
                 iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                 eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                 Nemo enim ipsam voluptatem quia.</p>
                </div>
                <div class="author">
                    <img src="../asset/image/author.jpg" alt="Author">
                </div>
                
            </section>

            <section class="third">
                <div class="third-tittle">
                    <h1>My Skills</h1>
                </div>
                <div class="third-item-list">
                    <div class="third-item">
                        <h2>Web Design(90%)</h2>
                    </div>
                    <div class="third-item">
                        <h2>Logo Design(60%)</h2>
                    </div>
                    <div class="third-item">
                        <h2>After Effects(80%)</h2>
                    </div>
                    <div class="third-item">
                        <h2>Web App(70%)</h2>
                    </div>
                </div> 
            </section>
            <section class="fourth">
                    <div class="fourth-tittle">
                        <h1>Experiences</h1>
                    </div>

                    <div class="fourth-item-list">
                        <div class="fourth-item">
                            <img src="../asset/image/icon-1.png" alt="icon-1">
                            <h3>Jan 2007-Feb 2009</h3>
                            <h2>Junior UX Designer</h2>
                            <p>WEBEX</p>
                        </div>
                        <div class="fourth-item">
                            <img src="../asset/image/icon-2.png" alt="icon-2">
                            <h3>Mar 2009-Aug 2014</h3>
                            <h2>UX & UI Designer</h2>
                            <p>AUGMEDIX</p>
                        </div>
                        <div class="fourth-item">
                            <img src="../asset/image/icon-3.png" alt="icon-3">
                            <h3>Sep 2014-Present</h3>
                            <h2>Senior UI Designer</h2>
                            <p>THEMEFISHER</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="fifth">
                <div class="fifth-tittle">
                    <h1>Education</h1>
                </div>

                <div class="fifth-item-list">
                    <div class="part-one">
                        <div class="part-one-item">
                            <div class="part-one-item-icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="part-one-item-text">
                                 <p>2006</p> 
                                 <h3>Marters in UX Design</h3> 
                                 <p>Masassusets Institute of Technology</p> 
                            </div>
                        </div>
                        <div class="part-one-item">
                            <div class="part-one-item-icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="part-one-item-text">
                                 <p>2000</p> 
                                 <h3>Higher Secondary Certificat</h3> 
                                 <p>Cardiff School</p> 
                            </div>
                        </div>
                    </div>
                    <div class="part-two">             
                        <div class="part-two-item">
                            <div class="part-two-item-icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="part-two-item-text">
                                <p>2004</p> 
                                <h3>Secondary School Certificate</h3> 
                                <p>Harvard University</p> 
                            </div>
                        </div>
                        <div class="part-two-item">
                            <div class="part-two-item-icon">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="part-two-item-text">
                                 <p>1998</p> 
                                 <h3>Secondary School Certificate</h3> 
                                 <p>Cardiff School</p> 
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="sixth">
                <div class="sixth-tittle">
                    <h1>Services</h1>
                </div>
                <div class="six-item-list">
                    <div class="box">
                        <div class="box-icon">
                            <i class="fa-solid fa-palette"></i>
                        </div>
                        <div class="box-text">
                            <h3>UI Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="box" id="purple">
                        <div class="box-icon">
                            <i style="color:white" class="fa-solid fa-pen"></i>
                        </div>
                        <div  class="box-text" >
                            <h3 style="color:white">UX Design</h3>
                            <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-icon">
                            <i class="fa-solid fa-gears"></i>
                        </div>
                        <div class="box-text">
                            <h3>Interaction Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </section>
            <section class="seventh">
                <div class="seventh-tittle">
                    <h1>Portfolio</h1>
                </div>
                <div class="seventh-item-list">
                    <div class="first-group">
                        <img src="../asset/image/item-1.png" alt="item-1">
                    </div>
                    <div class="second-group">
                        <div class="second-group1">
                            <img src="../asset/image/item-2.png" alt="item-2">
                            <img src="../asset/image/item-3.png" alt="item-3">
                        </div>
                       <div class="second-group2">
                            <img src="../asset/image/item-4.png" alt="item-4">
                            <img src="../asset/image/item-5.png" alt="item-5">
                       </div>
                    </div>
                </div>

            </section>
            <section class="eighth">
                <div class="eighth-tittle">
                    <h1>Blogs</h1>
                </div>
                <div class="eighth-item-list">
                    <div class="blog">
                        <img src="../asset/image/post-2.jpg" alt="post">
                        <a href="#">Amazon increase income 1.5 Million</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                       <a href="#" class="kutucuk">Read More</a> 
                    </div>
                    <div class="blog">
                        <img src="../asset/image/post-3.jpg" alt="post">
                        <a href="#">Amazon increase income 1.5 Million</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="kutucuk">Read More</a>
                    </div>
                    <div class="blog">
                        <img src="../asset/image/post-4.jpg" alt="post">
                        <a href="#">Amazon increase income 1.5 Million</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="kutucuk">Read More</a>
                    </div>
                </div>

            </section>
        

        </article>
    </main>
</body>
</html>